.output {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection-display {
    display: flex;
    flex-direction: row;
}

.selection-display > div {
    padding: 2rem;
}

.selections {
    text-align: center;
}